# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de entorno
.env

# Ignorar archivos de registro de npm
npm-debug.log

# Ignorar archivos de configuración de sistema específicos
.DS_Store
Thumbs.db
